<div class="container">
  <h1 class="'text-center"><%= @room.name %></h1>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= @room.name %> Chat
        </div>
        <div class="panel-body">
          <ul class="chat" id="messages">
            <% @room.messages.each do |message| %>
                <%= render partial: 'shared/message', locals: {message: message} %>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group form-inline">

            <%= form_tag messages_path, remote: true do %>

                <%= text_field_tag :message, nil, :placeholder => "Type your message here...", class: "form-control input-sm", :data => {room_name: @room.name, room_id: @room.id, user_id: current_user.id} %>
                <%= submit_tag "Send", class: "btn btn-warning btn-sm", id: "message-send-button" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
